<!DOCTYPE html>
<html>
    <head>
        <script src="jquery-3.5.1.min.js"></script>
        <script src=canvasapi.js> </script>
        <title><%= title %></title>
    </head>
    <body>
        <h1>what ARE we doing</h1>
    </body>
</html>